out/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### LOGS ###
logs/**
**/*.log
logs
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Node ###
node_modules

### OTHER ###
*/upload-document-dir/**
*/upload-excel-dir/**
*/upload-offer-dir/**